attrs==20.2.0
backports.shutil-get-terminal-size==1.0.0
boofuzz==0.2.1
cffi==1.14.3
click==7.1.2
colorama==0.4.4
cryptography==3.2
dnspython==2.0.0
Flask==1.1.2
future==0.18.2
impacket==0.9.21
itsdangerous==1.1.0
Jinja2==2.11.2
ldap3==2.8.1
ldapdomaindump==0.9.3
MarkupSafe==1.1.1
psutil==5.7.3
pyasn1==0.4.8
pycparser==2.20
pycryptodomex==3.9.8
pydot==1.4.1
pyOpenSSL==19.1.0
pyparsing==2.4.7
pyserial==3.4
scapy==2.4.4
six==1.15.0
tornado==5.1.1
Werkzeug==1.0.1
